<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid [formGroup]="userForm">
  <ion-item>
    <ion-label position="stacked">Email Address</ion-label>
    <ion-input placeholder="Email Address" formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="primary" (click)="login()" [disabled]="userForm.invalid">Login</ion-button>
    <ion-button color="primary" (click)="register()">Register</ion-button>
  </ion-item>
  <ion-item [disabled]="userForm.invalid">
    <ion-checkbox (click)="rememberMe()" color="primary"></ion-checkbox>
    <ion-label>Remember me</ion-label>
  </ion-item>
</ion-grid>